#vacio{
    height: 150px;
}
.container{
    margin-top: 100px;
    height: 500px;
    width: 600px;
   background:#996942;
   color: #fff;
   
}

body{

background: #60A8FF;
}


#myProgress {
    width: 100%;
    background-color: grey;
}

#myBar {
    width: 1%;
    height: 30px;
    background-color: green;
}