.verde{
  background: green;
  height: 100px;
}
.amarillo{
    background: yellow;
    height: 100px;
}
.rojo{
   background: red;
   height: 100px;
}
.plomo{

    background: #fff;
    height: 1000px;
}
canvas{

    border-radius: 100px;
  
}
video{
    border-radius: 100px;
    background: url('//img/175778dec08c936.jpg');
}
#espacio{
    widows: auto;
    height: 20px;
}
#buttonStart{
    margin-left: 120px;
}
#buttonStop{
    margin-left:33px;
}
.finsh {
    margin-top: 20px;
    margin-right: 20px;
}
#video1{

}
#clave1{
    width: 488px;

    margin-left: 30px;
}
#clave2{
    width: 488;
    margin-left:30px;
}
.labelcontra{
 
    margin-left: 30px;
}
#resultado_seguridad{
    margin-left: 30px;
}
#resultado{
    margin-left: 30px;
}
#capcha{

    margin-left: 50px;
}
#captcha{
    margin-left: 30px;
}